.product {
  width: 90%;
  margin: 5%;
}

.detailProduct1 {
  width: 50%;
  border: 2px solid black;
  float: left;
}

.detailProduct2 {
  width: 50%;
  border: 2px solid black;
  float: right;
}

.art {
  -webkit-animation: mover 2s infinite alternate;
  animation: mover 1s infinite alternate;
}
